{
    "globals": {
        "ServerEvents": true,
        "GTCEuStartupEvents": true,
        "Java": true,
        "Ingredient": true,
        "Item": true,
        "Fluid": true,
        "GTMaterialIconSet": true,
        "GTElements": true,
        "GTMaterialFlags": true,
        "ItemEvents": true,
        "FluidAmounts": true,
        "StartupEvents": true,
        "GTMaterials": true,
        "GTValues": true,
        "PropertyKey": true,
        "GTRegistries": true,
        "Platform": true,
        "FactoryBlockPattern": true,
        "Predicates": true,
        "RotationState": true,
        "GTBlocks": true,
        "GTItems": true,
        "GuiTextures": true,
        "GTRecipeModifiers": true,
        "OverclockingLogic": true,
        "PartAbility": true,
        "FillDirection": true,
        "GTSoundEntries": true,
        "ResourceLocation": true,
        "GTFluidBuilder": true,
        "GTFluidAttributes": true,
        "GTCEuServerEvents": true,
        "GTLayerPattern": true,
        "Component": true
    }
}
