@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand&display=swap');


div.highlight pre, span.pre {
    font-family: "Iosevka SS14", "JetBrains Mono", monospace !important;
    font-size: 14px !important;
}

.rst-content code.literal {
    font-family: "Iosevka SS14", "JetBrains Mono", monospace !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand";
}

p, li, strong, em, a {
    font-family: "Cabin" !important;
}

html {
    font-size: 100%;
}

/* gross hack! */
section#setting-up div.toctree-wrapper span.caption-text { display: none; }
section#progression-guides div.toctree-wrapper span.caption-text { display: none; }
section#developer-documentation div.toctree-wrapper span.caption-text { display: none; }
section#multiblock-guides div.toctree-wrapper span.caption-text { display: none; }

.wy-nav-content {
    max-width: 900px;
}

/* Borrowed from the trio RTD */

.wy-side-nav-search {
    background-color: #75E6DE !important;
}

.wy-side-nav-search > a {
    color: #000000 !important;
}

.wy-side-nav-search > a.logo {
    display: block !important;
    padding-bottom: 0.809em !important;
}

.wy-side-nav-search > a img.logo {
    display: inline !important;
    padding: 0 !important;
}
